
/*Our First CSS Exercise*/

h1{
    color:green;
}

h2{
    color:magenta;
}

p{
    color:white;
    background-color: black;
}

button {
    color:red;
    background-color: pink;
}

/*Hipster Logo Exercise*/

/* I had to make an ID and change the font color so it
wouldn't affect the other h1 elemnts*/
#purple {
    color: black;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 20px;
    text-decoration: underline wavy purple;
}