h2 {
    background-color: #ffafcc;
    color: #219ebc;
}

button {
    background-color: #3a86ff;
    color: #ffbe0b;
}

p {
    color: blue;
    background-color: yellow;
    font-weight: 700;
    line-height: 2;
}

/*Common Text Properties*/

/*The text-align CSS property sets the 
    horizontal alignment of the inline-level 
    content inside a block element or table-cell box. START, END &
    CENTER*/
    h1{
        text-transform: uppercase;
        font-family: monospace;
        text-align: center;
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 20px;
        text-decoration: underline wavy purple;
        }
        
        body{
            background-color: #6a040f;
        }
/*TRY NOT TO OVER DO IT WITH ID'S*/

        #signup {
            background-color: #d90429;
            color:#03045e;
        }
span {
    color: #000814;
}

.tag{
    background-color: #57cc99;
    font-size: 16px;
}